/* .home2, .bio2, .resume2, .audio2, .video2, .blog2, .portfolio2, .wrapper, .wrappertext, .cvTitle, .tbar {
    position: absolute;
}

.home2:hover, .bio2:hover, .resume2:hover, .audio2:hover, .video2:hover, .blog2:hover  {
    -webkit-filter: invert(100%);
}

.bio2, .resume2, .audio2, .video2, .blog2, .portfolio2, .home2 {
    transform: rotate(45deg);
    box-shadow: 2px 2px 2px #000;
    -webkit-transition: all 1s;
    -webkit-filter: invert(0%);
    height: 50px;
    margin-left: 767px;
}

.home2 {
    margin-top: 100px;
}

.bio2 {
    margin-top: 175px;
}

.resume2 {
    margin-top: 250px;
}

.audio2 {
    margin-top: 325px;
}

.video2 {
    margin-top: 400px;
}

.blog2 {
    margin-top: 475px;
}

.portfolio2 {                    
    margin-top: 550px;
}

.club1 {
    width: 668px;
    height:315px;
    margin: auto;
}

.wrapper {
    width: 750px;
    height: 590px;
    background-color: #ffffed;
    border-color: #A8A8A8;
    border-width: 2;
    border-style: solid;
    font-family: "Helvetica";
    box-shadow: 2px 2px 2px #000;
    margin-top:25px;
}

.wrappertext {
    margin-top: 70px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    margin-left: 30px;
    margin-top: 100px;
}

.degreetxt {
    font-size:16px;
}

.ed {
    font-size: 24px;
}

.fsu { 
    font-size: 20px;
}

.degree {
    font-size: 18px;
}

.cvTitle {
    margin-right: 400px;
    padding-left: 150px;
    z-index: 4;
}

.tbar {
    width: 800px;
    height: 20px;
    background-color: #85BF7E;
    margin-top: 40px;
    border-radius: 45px;
    margin-left: -20px;
    z-index: 3;
    box-shadow: -1px 2px 3px #080809;
} */
